# Client Project: The Lab @ DC

## Project Title: {here}

### Authors: Kihoon Sohn, Brian Collins, Harsha Goonawardana, Priya Kakkar
- Cohorts of the Data Science Immersive, General Assembly @ Washington DC campus

In this notebook, we have Exploratory Data Analysis on the City Service Requests / ShotsSpotters datasets. **This is notebook 2 of 3.**

### Import Libraries

In [2]:
# import basic libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### Read CSVs

In [3]:
csr_train   = pd.read_csv('./assets/csr/csr_train.csv', low_memory=False)
csr_test    = pd.read_csv('./assets/csr/csr_test.csv', low_memory=False)
shots_train = pd.read_csv('./assets/mpd/shots_train.csv', low_memory=False)
shots_test  = pd.read_csv('./assets/mpd/shots_test.csv', low_memory=False)

##### check null values and basic info on the datasets

In [4]:
csr_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231233 entries, 0 to 1231232
Data columns (total 30 columns):
X                             1231233 non-null float64
Y                             1231233 non-null float64
OBJECTID                      1231233 non-null int64
SERVICECODE                   1231233 non-null object
SERVICECODEDESCRIPTION        1231233 non-null object
SERVICETYPECODEDESCRIPTION    1230379 non-null object
ORGANIZATIONACRONYM           1231232 non-null object
SERVICECALLCOUNT              1231233 non-null int64
ADDDATE                       1231233 non-null object
RESOLUTIONDATE                1145201 non-null object
SERVICEDUEDATE                1218530 non-null object
SERVICEORDERDATE              1231233 non-null object
INSPECTIONFLAG                1231233 non-null object
INSPECTIONDATE                434130 non-null object
INSPECTORNAME                 40361 non-null object
SERVICEORDERSTATUS            1230380 non-null object
STATUS_CODE                   1079432 non-null object
SERVICEREQUESTID              1231233 non-null object
PRIORITY                      1228556 non-null object
STREETADDRESS                 1181503 non-null object
XCOORD                        1231233 non-null float64
YCOORD                        1231233 non-null float64
LATITUDE                      1231233 non-null float64
LONGITUDE                     1231233 non-null float64
CITY                          1180909 non-null object
STATE                         1180909 non-null object
ZIPCODE                       1231217 non-null float64
MARADDRESSREPOSITORYID        1042071 non-null float64
WARD                          1225012 non-null object
DETAILS                       786667 non-null object
dtypes: float64(8), int64(2), object(20)
memory usage: 281.8+ MB

In [5]:
csr_train.isnull().sum().sort_values(ascending=False)

INSPECTORNAME                 1190872
INSPECTIONDATE                 797103
DETAILS                        444566
MARADDRESSREPOSITORYID         189162
STATUS_CODE                    151801
RESOLUTIONDATE                  86032
CITY                            50324
STATE                           50324
STREETADDRESS                   49730
SERVICEDUEDATE                  12703
WARD                             6221
PRIORITY                         2677
SERVICETYPECODEDESCRIPTION        854
SERVICEORDERSTATUS                853
ZIPCODE                            16
ORGANIZATIONACRONYM                 1
SERVICEREQUESTID                    0
XCOORD                              0
INSPECTIONFLAG                      0
SERVICEORDERDATE                    0
YCOORD                              0
LATITUDE                            0
ADDDATE                             0
SERVICECALLCOUNT                    0
LONGITUDE                           0
SERVICECODEDESCRIPTION              0
SERVICECODE                         0
OBJECTID                            0
Y                                   0
X                                   0
dtype: int64

In [6]:
shots_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
version https://git-lfs.github.com/spec/v1    2 non-null object
dtypes: object(1)
memory usage: 96.0+ bytes

In [7]:
shots_train.isnull().sum().sort_values(ascending=False)

version https://git-lfs.github.com/spec/v1    0
dtype: int64

### Basic EDAs and Data Cleaning

##### Basic EDAs on Shots dataset

In [8]:
shots_train.head()

          version https://git-lfs.github.com/spec/v1
0  oid sha256:bb18af6c1c610635273f0447b6a58c09f6a...
1                                       size 2149381

In [9]:
shots_train.shape

(2, 1)

In [10]:
shots_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
version https://git-lfs.github.com/spec/v1    2 non-null object
dtypes: object(1)
memory usage: 96.0+ bytes

In [11]:
shots_train.isnull().sum().sort_values(ascending=False)

version https://git-lfs.github.com/spec/v1    0
dtype: int64

In [12]:
shots_train[shots_train.ID.isnull()]

AttributeError: 'DataFrame' object has no attribute 'ID'

In [31]:
def shot_spot_preprocess(df):
    shots_train.set_index(['ID'], inplace=True)
    shots_train.Source = shots_train.Source.apply(lambda DC: DC.replace('WashingtonDC', ''))
    shots_train.Date = pd.to_datetime(shots_train.Date, infer_datetime_format=True)
    return df

shots_train = shot_spot_preprocess(shots_train)

In [35]:
# shots_train.to_csv('./assets/mpd/shots_train_preprocessed.csv')

In [130]:
shots_train.Source.value_counts()

7D    10342
6D     8407
5D     3216
4D     2701
1D     1954
3D     1723
Name: Source, dtype: int64

In [47]:
shots_train.Type.value_counts()

Multiple_Gunshots         15858
Single_Gunshot            10034
Gunshot_or_Firecracker     2451
Name: Type, dtype: int64

##### Basic EDAs on City Service Requests Datasets

In [131]:
# Unnamed clearly the Original index column.  Delete that.
# X and Y seems to be closely related to 
# Is service code description the same as service type, just a little more information?
# Object ID can be set as the index.
csr_train.iloc[:5, :6]

,X,Y,OBJECTID,SERVICECODE,SERVICECODEDESCRIPTION,SERVICETYPECODEDESCRIPTION
0,-76.972735,38.897957,463232,S0011,Alley Cleaning,Street Cleaning
1,-76.991907,38.922865,463233,S0321,Recycling Collection - Missed,Recycling
2,-76.970891,38.874749,463234,S0031,Bulk Collection,Bulk Collection
3,-77.022678,38.942819,463235,S0311,Rat Abatement,DOH
4,-77.048840,38.898960,463236,S0276,Parking Meter Repair,TOA

In [132]:
# Service Type, Important to know the different values there.
# Organization to know who is on the task.
# Service call count to see how many times a call is needed.
# Everything just needs to be set to datetime.
csr_train.iloc[:5, 6:12]

,ORGANIZATIONACRONYM,SERVICECALLCOUNT,ADDDATE,RESOLUTIONDATE,SERVICEDUEDATE,SERVICEORDERDATE
0,DPW,1,2014-01-02T13:27:40.000Z,2014-01-15T07:43:42.000Z,2014-02-18T13:27:40.000Z,2014-01-02T13:27:40.000Z
1,DPW,1,2014-01-02T13:46:57.000Z,2014-01-06T12:39:39.000Z,2014-01-06T13:46:57.000Z,2014-01-02T13:46:57.000Z
2,DPW,1,2014-01-02T13:57:46.000Z,2014-01-14T14:29:16.000Z,2014-01-23T13:57:46.000Z,2014-01-02T13:57:46.000Z
3,DOH,1,2014-01-02T13:43:20.000Z,NaN,2014-02-24T13:43:20.000Z,2014-01-02T13:43:20.000Z
4,DDOT,1,2014-01-02T16:00:59.000Z,2014-01-07T16:33:48.000Z,2014-01-09T16:00:59.000Z,2014-01-02T16:00:59.000Z

In [133]:
# Service order data good.  Needs to be broken down into Datetime.
# Inspection Flag, what does that mean?
# Remove Inspector Name
# What does Status code contain? A lot of NaN could be bad
# Service Order Status, Important maybe?
csr_train.iloc[:5, 12:18]

,INSPECTIONFLAG,INSPECTIONDATE,INSPECTORNAME,SERVICEORDERSTATUS,STATUS_CODE,SERVICEREQUESTID
0,N,NaN,NaN,CLOSED,NaN,14-00000654
1,N,2014-01-06T12:39:00.000Z,"Bryant, Kevin",CLOSED,NaN,14-00000686
2,N,NaN,NaN,CLOSED,NaN,14-00000707
3,N,NaN,NaN,OPEN,NaN,14-00000677
4,N,NaN,NaN,CLOSED,NaN,14-00000877

In [134]:
# Service Request ID seems unimportant
# What is the XCOORD and YCOORD?
# Street Address can help us find our quandrants. Do we also want the address or is Latitude and Longitude
# Priority - how many unique values are in there?
csr_train.iloc[:5, 18:24]

,PRIORITY,STREETADDRESS,XCOORD,YCOORD,LATITUDE,LONGITUDE
0,STANDARD,2301 BENNING ROAD NE,402365.36,136678.02,38.897950,-76.972732
1,STANDARD,1004 RHODE ISLAND AVENUE NE,400701.99,139442.62,38.922857,-76.991905
2,STANDARD,2333 FAIRLAWN AVENUE SE,402526.12,134101.82,38.874742,-76.970889
3,STANDARD,720 VARNUM STREET NW,398034.18,141657.91,38.942811,-77.022676
4,STANDARD,700 - 799 BLOCK OF 22ND STREET NW,395763.56,136790.11,38.898952,-77.048838

In [135]:
# Remove City and State
# clean up the Ward to just numbers
# Fix Zipcode to be int.
# Longitude is the same as the X column
# Details can be vectorized.
# What is MARADDRESSREPOSITORYID?
csr_train.iloc[:5, 24:31]

,CITY,STATE,ZIPCODE,MARADDRESSREPOSITORYID,WARD,DETAILS
0,WASHINGTON,DC,20002.0,48983.0,Ward 7,There is some dumping in the rear of this addr...
1,WASHINGTON,DC,20018.0,76304.0,Ward 5,Has not been collected the past 4 weeks.
2,WASHINGTON,DC,20020.0,286919.0,Ward 7,"1 television, 2 vacuums, 1 boom box,"
3,WASHINGTON,DC,20011.0,249794.0,Ward 4,requesting ratb abatement
4,WASHINGTON,DC,20052.0,NaN,2,Broken Parking Meter

##### Check with some categorical columns' values and find typos or misspelled.

In [136]:
csr_train.PRIORITY.value_counts()

STANDARD     1179004
URGENT         24585
EMERGNCY       23635
EMERGENCY       1189
PRIORITY         141
ESCALATED          1
PRIOR003           1
Name: PRIORITY, dtype: int64

##### Preprocessing

In [13]:
# create preprocess function

def crimespot_preprocess(df):
    # Removing unused or redundent information
    csr_train.drop(['INSPECTORNAME', 'CITY', 'STATE', 'X', 'Y'], axis=1, inplace=True)
    csr_train.columns = map(str.lower, csr_train.columns) # Easier to work with lowercase columns

    # fill nan values to 0
    csr_train.serviceduedate.fillna('0', inplace=True)
    csr_train.resolutiondate.fillna('0', inplace=True)
    csr_train.inspectiondate.fillna('0', inplace=True)
    
    # replace values
    csr_train.priority.replace("EMERGNCY", "EMERGENCY")
    
    # clean up datetime related data
    timestamp = ['adddate', 'resolutiondate', 'serviceduedate', 'serviceorderdate', 'inspectiondate']
    for x in timestamp:
        csr_train[x] = csr_train[x].map(lambda x: x.strip('Z').replace('T', ' '))
    
    # treat zipcode as string and strip
    csr_train.zipcode = csr_train.zipcode.astype(str).str.strip().str.strip('.0')

    # (KS) make single line to combine Brian's on 'Ward'
    csr_train.ward = csr_train.ward.astype(str).map(lambda x: x.strip('Ward')).str.strip().str.strip('.0')

    return df

csr_train = crimespot_preprocess(csr_train)

##### Remainders for the preprocessing (responsible - Kihoon)

In [138]:
csr_train.ward.value_counts()

2      254937
6      214903
4      158945
5      153126
1      127995
7      119438
3      114738
8       80930
nan      6221
Name: ward, dtype: int64

In [ ]:
# (BC)'s code on 6221 missing(nan) values. Maybe we can put in the Ward based on Zipcode

# Since it is no longer, null data. How to fix it? (KS)

# for index, row in csr_train.iterrows():
#     if(pd.isnull(row['WARD'])):
#         row['WARD'] = row['ZIPCODE']
#         #         for x in csr_train:
# #     if pd.isnull(x):
# #         x['WARD'] = csr_train.ZIPCODE

##### New challenge here, team! Thousands of spoiled zipcode data detected .
- Initially, team assumed that we have only 16 null values to manually map zipcode by address
- However, apparently there were tons of spoiled zipcodes. 
- Primarily, Kihoon will take a look on this to fix.

In [139]:
csr_train.zipcode.value_counts()

20002    144190
20011    123232
20001    119199
20019     90170
20009     80421
2002      66351
20007     61568
20003     61316
2001      51723
20016     48526
20032     37641
20018     37447
20008     34014
20005     33947
20017     33281
20015     31462
20037     30120
20036     29633
20024     29490
20012     28990
20006     22403
20004     19572
20052      4942
20415      1011
20059       966
2025        854
2024        636
20405       601
20201       553
20057       523
          ...
20886         1
2122          1
36            1
-12           1
20613         1
28272         1
20135         1
2051          1
83127         1
-4115         1
23294         1
1             1
-1254         1
16            1
20705         1
22406         1
60435         1
-1865         1
22046         1
20906         1
-2103         1
2077          1
2             1
-2207         1
20746         1
9002          1
-2326         1
20783         1
11            1
24577         1
Name: zipcode, Length: 179, dtype: int64

##### Teams, two datasets have different digits in the Lat's and Long's. Will it be matters? (KS)
- Exec decision) keep Lats/Longs for 4 decimal points as 11m errors.

In [5]:
csr_train[['LATITUDE', 'LONGITUDE']].head()

    LATITUDE  LONGITUDE
0  38.897950 -76.972732
1  38.922857 -76.991905
2  38.874742 -76.970889
3  38.942811 -77.022676
4  38.898952 -77.048838

In [6]:
shots_train[['Latitude', 'Longitude']].head()

   Latitude  Longitude
0    38.917    -77.012
1    38.917    -77.002
2    38.917    -76.987
3    38.823    -77.000
4    38.893    -76.993

In [1]:
import geopandas as gpd
from shapely.geometry import Point

In [15]:
geometry = [Point(xy) for xy in zip(csr_train['longitude'], csr_train['latitude'])]
csr_train.drop(['longitude', 'latitude'], axis=1, inplace=True)
crs = {'init': 'epsg:4326'}
gdf = gpd.GeoDataFrame(csr_train, geometry=geometry, crs=crs)

In [16]:
psa = gpd.read_file('./assets/Police_Service_Areas.geojson')

In [17]:
psa = psa[['PSA','geometry']]

In [19]:
csr_train = gpd.sjoin(gdf, psa, how='left', op='within')

In [20]:
csr_train.head()

,objectid,servicecode,servicecodedescription,servicetypecodedescription,organizationacronym,servicecallcount,adddate,resolutiondate,serviceduedate,serviceorderdate,...,streetaddress,xcoord,ycoord,zipcode,maraddressrepositoryid,ward,details,geometry,index_right,PSA
0,463232,S0011,Alley Cleaning,Street Cleaning,DPW,1,2014-01-02 13:27:40.000,2014-01-15 07:43:42.000,2014-02-18 13:27:40.000,2014-01-02 13:27:40.000,...,2301 BENNING ROAD NE,402365.36,136678.02,20002,48983.0,7,There is some dumping in the rear of this addr...,POINT (-76.97273246 38.89794972),22.0,507.0
1,463233,S0321,Recycling Collection - Missed,Recycling,DPW,1,2014-01-02 13:46:57.000,2014-01-06 12:39:39.000,2014-01-06 13:46:57.000,2014-01-02 13:46:57.000,...,1004 RHODE ISLAND AVENUE NE,400701.99,139442.62,20018,76304.0,5,Has not been collected the past 4 weeks.,POINT (-76.99190473 38.92285708),42.0,504.0
2,463234,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-02 13:57:46.000,2014-01-14 14:29:16.000,2014-01-23 13:57:46.000,2014-01-02 13:57:46.000,...,2333 FAIRLAWN AVENUE SE,402526.12,134101.82,2002,286919.0,7,"1 television, 2 vacuums, 1 boom box,",POINT (-76.97088871 38.87474188),10.0,605.0
3,463235,S0311,Rat Abatement,DOH,DOH,1,2014-01-02 13:43:20.000,0,2014-02-24 13:43:20.000,2014-01-02 13:43:20.000,...,720 VARNUM STREET NW,398034.18,141657.91,20011,249794.0,4,requesting ratb abatement,POINT (-77.02267596 38.94281117),46.0,407.0
4,463236,S0276,Parking Meter Repair,TOA,DDOT,1,2014-01-02 16:00:59.000,2014-01-07 16:33:48.000,2014-01-09 16:00:59.000,2014-01-02 16:00:59.000,...,700 - 799 BLOCK OF 22ND STREET NW,395763.56,136790.11,20052,NaN,2,Broken Parking Meter,POINT (-77.04883778217619 38.8989521053866),23.0,207.0

In [21]:
csr_train.reset_index()

,index,objectid,servicecode,servicecodedescription,servicetypecodedescription,organizationacronym,servicecallcount,adddate,resolutiondate,serviceduedate,...,streetaddress,xcoord,ycoord,zipcode,maraddressrepositoryid,ward,details,geometry,index_right,PSA
0,0,463232,S0011,Alley Cleaning,Street Cleaning,DPW,1,2014-01-02 13:27:40.000,2014-01-15 07:43:42.000,2014-02-18 13:27:40.000,...,2301 BENNING ROAD NE,402365.360000,136678.020000,20002,48983.0,7,There is some dumping in the rear of this addr...,POINT (-76.97273246 38.89794972),22.0,507.0
1,1,463233,S0321,Recycling Collection - Missed,Recycling,DPW,1,2014-01-02 13:46:57.000,2014-01-06 12:39:39.000,2014-01-06 13:46:57.000,...,1004 RHODE ISLAND AVENUE NE,400701.990000,139442.620000,20018,76304.0,5,Has not been collected the past 4 weeks.,POINT (-76.99190473 38.92285708),42.0,504.0
2,2,463234,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-02 13:57:46.000,2014-01-14 14:29:16.000,2014-01-23 13:57:46.000,...,2333 FAIRLAWN AVENUE SE,402526.120000,134101.820000,2002,286919.0,7,"1 television, 2 vacuums, 1 boom box,",POINT (-76.97088871 38.87474188),10.0,605.0
3,3,463235,S0311,Rat Abatement,DOH,DOH,1,2014-01-02 13:43:20.000,0,2014-02-24 13:43:20.000,...,720 VARNUM STREET NW,398034.180000,141657.910000,20011,249794.0,4,requesting ratb abatement,POINT (-77.02267596 38.94281117),46.0,407.0
4,4,463236,S0276,Parking Meter Repair,TOA,DDOT,1,2014-01-02 16:00:59.000,2014-01-07 16:33:48.000,2014-01-09 16:00:59.000,...,700 - 799 BLOCK OF 22ND STREET NW,395763.560000,136790.110000,20052,NaN,2,Broken Parking Meter,POINT (-77.04883778217619 38.8989521053866),23.0,207.0
5,5,463237,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-02 16:25:59.000,2014-01-15 13:35:29.000,2014-01-23 16:25:59.000,...,664 MADISON STREET NE,400227.450000,143296.080000,20011,847.0,4,"3 mattresses, entertainment center, table, 2 m...",POINT (-76.99737579000001 38.95757042),53.0,406.0
6,6,463238,S0276,Parking Meter Repair,TOA,DDOT,1,2014-01-02 16:14:47.000,2014-01-06 10:33:16.000,2014-01-09 16:14:47.000,...,800 - 899 BLOCK OF 9TH STREET NW,397920.990000,136943.140000,20001,NaN,2,Broken Parking Meter,POINT (-77.0239673421657 38.9003384044116),19.0,102.0
7,7,463239,S05SL,Streetlight Repair Investigation,TOA,DDOT,1,2014-01-02 16:49:52.000,2014-01-07 03:48:06.000,2014-01-06 16:49:52.000,...,4305 FESSENDEN STREET NW,392689.790000,143004.210000,20016,265877.0,3,between 4307 and 4305,POINT (-77.08433844 38.95491079),51.0,202.0
8,8,463240,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-02 16:48:08.000,2014-01-14 11:50:46.000,2014-01-23 16:48:08.000,...,1803 29TH STREET SE,402952.800000,133391.940000,2002,150133.0,7,"desk, chair, exercise machine, fence",POINT (-76.96597465000001 38.86834567),9.0,607.0
9,9,463241,S0441,Trash Collection - Missed,Trash Collection,DPW,1,2014-01-02 16:06:49.000,2014-01-06 12:18:00.000,2014-01-06 16:06:49.000,...,4624 5TH STREET NW,398294.670000,142137.740000,20011,247329.0,4,NaN,POINT (-77.01967236999999 38.94713416),46.0,407.0
10,10,463242,TRUREPOR,TRU Report,TRU - 311,Call Center,1,2014-01-02 16:48:47.000,2014-01-02 17:29:40.000,0,...,1403 F STREET NE,401281.590000,136585.990000,20002,65169.0,6,NaN,POINT (-76.98522618 38.89712293),16.0,108.0
11,11,463243,S0276,Parking Meter Repair,TOA,DDOT,1,2014-01-02 16:33:25.000,2014-01-07 21:48:07.000,2014-01-09 16:33:25.000,...,400 - 599 BLOCK OF MARYLAND AVENUE SW,398333.761820,135475.580059,20024,NaN,6,NaN,POINT (-77.01920524726449 38.88711896328429),11.0,105.0
12,12,463244,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-02 17:00:12.000,2014-01-13 15:40:07.000,2014-01-23 17:00:12.000,...,5410 9TH STREET NW,397749.530000,143094.890000,20011,254576.0,4,dresser,POINT (-77.02596414999999 38.95575520000001),50.0,403.0
13,13,463245,S0011,Alley Cleaning,Street Cleaning,DPW,1,2014-01-02 16:04:50.000,2014-01-28 08:39:12.000,2014-02-18 16:04:50.000,...,631 NORTH CAROLINA AVENUE SE,400228.760000,135418.020000,20003,2866.0,6,Please clean alley. Issue between house and p...,POINT (-76.99736331 38.88660232),15.0,107.0
14,14,463246,S05AL,Alleylight Repair Investigation,TOA,DDOT,1,2014-01-02 16:32:02.000,2014-10-01 09:55:14.000,2014-01-06 16:32:02.000,...,5718 5TH STREET NW,398254.140000,143505.600000,20011,246579.0,4,light is on and off,POINT (-77.020143400066 38.9594557926287),52.0,402.0
15,15,463247,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-02 16:28:09.000,2014-01-14 14:14:07.000,2014-01-23 16:28:09.000,...,615 DARRINGTON STREET SE,400171.520000,128698.050000,20032,4147.0,8,"ironing board, mic, tv, 3 chairs",POINT (-76.99802473 38.82606599),1.0,706.0
16,16,463248,S0276,Parking Meter Repair,TOA,DDOT,1,2014-01-02 16:58:08.000,2014-01-07 16:33:52.000,2014-01-09 16:58:08.000,...,4500 - 4599 BLOCK OF 40TH STREET NW,393173.950000,142324.530000,20016,NaN,3,Broken Parking Meter,POINT (-77.0787458914927 38.94879161258661),51.0,202.0
17,17,463249,S0276,Parking Meter Repair,TOA,DDOT,1,2014-01-02 16:22:41.000,2014-01-07 16:33:51.000,2014-01-09 16:22:41.000,...,5401 - 5499 BLOCK OF GEORGIA AVENUE NW,397576.990000,143086.850000,20011,NaN,4,Broken Parking Meter,POINT (-77.0279547478288 38.95568197647871),50.0,403.0
18,18,463250,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-02 16:13:19.000,2014-01-14 14:33:25.000,2014-01-23 16:13:19.000,...,1309 POTOMAC AVENUE SE,401051.600000,134578.090000,20003,68448.0,6,"2 metal frames, shelving",POINT (-76.98788051 38.87903531),12.0,106.0
19,19,463251,S0276,Parking Meter Repair,TOA,DDOT,1,2014-01-02 16:39:25.000,2014-01-07 16:33:52.000,2014-01-09 16:39:25.000,...,31ST STREET NW AND CONGRESS COURT NW,394691.135375,137608.266500,20007,NaN,2,NaN,POINT (-77.06120703948291 38.9063165247539),28.0,206.0
20,20,463252,S0441,Trash Collection - Missed,Trash Collection,DPW,1,2014-01-02 16:23:05.000,2014-01-06 12:18:17.000,2014-01-06 16:23:05.000,...,5410 1ST STREET NW,398973.210000,143142.990000,20011,245878.0,4,Garbage collection missed for 2 weeks.,POINT (-77.01184636000001 38.95619078),53.0,406.0
21,21,462127,S0181,Illegal Dumping,Illegal Dumping,DPW,1,2014-01-01 18:29:52.000,2014-01-03 15:32:54.000,2014-01-09 18:29:52.000,...,780 GIRARD STREET NW,397802.540000,139767.310000,20001,232453.0,1,"Illegal Dumping\n780 Girard St., NW, Washingto...",POINT (-77.02534190000002 38.92577952),35.0,304.0
22,22,462128,S05SL,Streetlight Repair Investigation,TOA,DDOT,1,2014-01-01 18:12:04.000,2014-01-06 04:33:16.000,2014-01-06 18:12:04.000,...,6136 31ST STREET NW,394612.560000,144832.770000,20015,260266.0,4,streetlight has been out for 3 days in front o...,POINT (-77.06216968 38.97139681),54.0,201.0
23,23,462129,S05SL,Streetlight Repair Investigation,TOA,DDOT,1,2014-01-01 18:56:57.000,2014-01-05 22:33:06.000,2014-01-06 18:56:57.000,...,707 HILLTOP TERRACE SE,404983.650000,134702.000000,20019,76629.0,7,streetlight has been out for 2 days,POINT (-76.94256351 38.88013805),10.0,605.0
24,24,462130,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-01 21:19:18.000,2014-01-09 12:57:00.000,2014-01-23 21:19:18.000,...,1631 HOBART STREET NW,396670.300000,140023.830000,20009,236329.0,1,NaN,POINT (-77.03840054 38.92808678),41.0,408.0
25,25,462131,SIGNMISS,Sign Missing Investigation,Signs,DDOT,1,2014-01-01 21:23:19.000,2014-01-08 14:05:39.000,2014-07-10 21:23:19.000,...,811 17TH STREET SE,401648.000000,134643.150000,20003,80062.0,6,"The ""Road Closed"" sign for the old entrance to...",POINT (-76.98100696 38.87962048),16.0,108.0
26,26,462132,S0466,Utility Repair Investigation,SIOD,DDOT,1,2014-01-01 21:49:53.000,2014-01-09 16:59:36.000,2014-03-31 21:49:53.000,...,737 WHITTIER STREET NW,397940.570000,144835.570000,20012,250843.0,4,Utility Repair\n731-733 Whittier Street Northw...,POINT (-77.02376531 38.97143615),55.0,401.0
27,27,462133,FESAADNU,FEMS - Smoke Alarm Application,FEMS-Smoke Alarms,FEMS,1,2014-01-01 22:37:00.000,2016-04-29 16:43:46.000,2014-01-03 22:37:00.000,...,"1631 HOBART STREET NW,",396670.300000,140023.830000,20009,236329.0,1,NaN,POINT (-77.038400544409 38.9280867765141),41.0,408.0
28,28,462134,S0031,Bulk Collection,Bulk Collection,DPW,1,2014-01-01 22:31:22.000,2014-01-08 14:11:08.000,2014-01-23 22:31:22.000,...,2422 IRVING STREET SE,402533.370000,131712.130000,2002,47255.0,8,1 heater,POINT (-76.97081396 38.85321455),5.0,702.0
29,29,462135,S05SL,Streetlight Repair Investigation,TOA,DDOT,1,2014-01-01 22:03:18.000,2014-01-06 05:18:12.000,2014-01-06 22:03:18.000,...,1631 WEBSTER STREET NW,396699.690000,141814.510000,20011,258649.0,4,Light is across from alley,POINT (-77.03807021 38.94421787),47.0,404.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1231203,1231203,1855863,SIDEWLKEXP,Snow Sidewalk Shoveling Enforcement Exemption,SNOW,DPW,1,2017-12-28 08:44:39.000,2018-01-04 12:22:34.000,2018-01-02 17:00:00.000,...,2331 3RD STREET NE,399843.550000,139235.150000,20002,48471.0,5,Unable to complete verification until ownershi...,POINT (-77.00180412 38.92098839),39.0,502.0
1231204,1231204,1855864,S0346,Sanitation Enforcement,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-29 17:15:04.000,2018-01-04 12:55:20.000,2018-01-08 17:00:00.000,...,4125 ARKANSAS AVENUE NW,397061.130000,141516.920000,20011,259160.0,4,Per Inspector Satchell.cs 1/4/18,POINT (-77.0338996 38.94153837),47.0,404.0
1231205,1231205,1855865,SNOWREMCOMP,Snow Removal Complaints for Sidewalks,SNOW,DPW,1,2017-12-31 10:50:56.000,2018-01-04 12:59:01.000,2018-01-03 17:00:00.000,...,5620 COLORADO AVENUE NW,397224.350000,143353.580000,20011,257904.0,4,Per Inspector Satchell 1/4/18. Cs,POINT (-77.0320243 38.95808404),50.0,403.0
1231206,1231206,1855866,S0181,Illegal Dumping,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 15:01:44.000,2018-01-04 13:02:28.000,2018-01-05 15:01:00.000,...,4831 NEW HAMPSHIRE AVENUE NW,398778.360000,142412.540000,20011,243523.0,4,Per Inspector Satchell. Cs 1/4/18,POINT (-77.0140931 38.94961044),46.0,407.0
1231207,1231207,1855867,DMV19,DMV - Vehicle Registration Issues,Driver Vehicle Services,DMV,1,2017-12-28 13:00:16.000,2018-01-04 13:03:34.000,2018-01-05 13:00:00.000,...,95 M STREET SW,398972.810000,134387.210000,20024,276856.0,6,NaN,POINT (-77.01183788 38.87731582),11.0,105.0
1231208,1231208,1855868,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-27 14:27:29.000,2018-01-04 13:33:33.000,2018-01-17 14:27:00.000,...,2215 LAWRENCE STREET NE,402326.650000,140449.950000,20018,50277.0,5,cph - Collected Close SR,POINT (-76.97316592 38.93192863),44.0,503.0
1231209,1231209,1855869,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-27 16:09:25.000,2018-01-04 13:33:35.000,2018-01-17 16:09:00.000,...,1228 PERRY STREET NE,400900.880000,140952.840000,20017,70653.0,5,cph - Collected Close SR,POINT (-76.98960916999999 38.93646143),42.0,504.0
1231210,1231210,1855870,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 07:32:12.000,2018-01-04 13:33:38.000,2018-01-17 17:00:00.000,...,2216 PERRY STREET NE,402318.400000,140941.250000,20018,50313.0,5,cph - Collected Close SR,POINT (-76.97325941 38.93635443),44.0,503.0
1231211,1231211,1855871,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 08:56:03.000,2018-01-04 13:33:40.000,2018-01-17 17:00:00.000,...,1322 JACKSON STREET NE,401067.270000,140226.760000,20017,67631.0,5,cph - Collected Close SR,POINT (-76.98769114 38.92992049),42.0,504.0
1231212,1231212,1855872,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 11:49:54.000,2018-01-04 13:33:43.000,2018-01-18 11:49:00.000,...,4306 22ND STREET NE,402218.820000,141571.970000,20018,23852.0,5,cph - Collected Close SR,POINT (-76.97440593 38.94203639),44.0,503.0
1231213,1231213,1855873,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 11:50:34.000,2018-01-04 13:33:45.000,2018-01-18 11:50:00.000,...,4317 20TH STREET NE,402086.200000,141617.380000,20018,23497.0,5,cph - Collected Close SR,POINT (-76.97593556 38.94244578),44.0,503.0
1231214,1231214,1855874,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 12:41:17.000,2018-01-04 13:33:48.000,2018-01-18 12:41:00.000,...,1534 OTIS STREET NE,401460.960000,140802.320000,20017,60930.0,5,cph - Collected Close SR,POINT (-76.98314947999999 38.93510475),42.0,504.0
1231215,1231215,1855875,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-27 12:47:26.000,2018-01-04 13:38:39.000,2018-01-17 12:47:00.000,...,200 WEBSTER STREET NE,399679.350000,141778.700000,20011,53103.0,5,John Dove - Collected Close SR,POINT (-77.00369879 38.94390142),48.0,405.0
1231216,1231216,1855876,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 10:35:06.000,2018-01-04 13:38:41.000,2018-01-18 10:35:00.000,...,840 BUCHANAN STREET NE,400587.110000,142061.790000,20017,81321.0,5,cph - Collected Close SR,POINT (-76.99322727000001 38.94645144),48.0,405.0
1231217,1231217,1855877,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 14:14:21.000,2018-01-04 13:38:43.000,2018-01-18 14:14:00.000,...,4434 1ST STREET NE,399478.130000,141790.740000,20011,21393.0,5,cph - Collected Close SR,POINT (-77.00601992999999 38.94400978),48.0,405.0
1231218,1231218,1855878,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 16:30:06.000,2018-01-04 13:38:45.000,2018-01-18 16:30:00.000,...,5014 6TH PLACE NE,400153.870000,142510.070000,20017,15162.0,5,cph - Collected Close SR,POINT (-76.99822490000003 38.95048985),48.0,405.0
1231219,1231219,1855879,SIDEWLKEXP,Snow Sidewalk Shoveling Enforcement Exemption,SNOW,DPW,1,2017-12-29 09:22:33.000,2018-01-04 15:55:16.000,2018-01-04 09:22:00.000,...,409 JEFFERSON STREET NE,400114.940000,143023.830000,20011,27158.0,5,Please submit a copy of a valid government ID ...,POINT (-76.99867392 38.95511794),48.0,405.0
1231220,1231220,1855880,SIDEWLKEXP,Snow Sidewalk Shoveling Enforcement Exemption,SNOW,DPW,1,2017-12-30 13:09:03.000,2018-01-04 15:56:32.000,2018-01-04 17:00:00.000,...,1825 BAY STREET SE,401903.080000,135427.930000,20003,55163.0,6,Thank you for applying for the 2017/2018 Sidew...,POINT (-76.97806502 38.88668957),16.0,108.0
1231221,1231221,1855881,SIDEWLKEXP,Snow Sidewalk Shoveling Enforcement Exemption,SNOW,DPW,1,2017-12-29 16:37:27.000,2018-01-04 15:56:59.000,2018-01-04 16:37:00.000,...,1505 NORTHGATE ROAD NW,396886.230000,146717.680000,20012,256893.0,4,Please submit a copy of a valid government ID ...,POINT (-77.03594067 38.9883875),55.0,401.0
1231222,1231222,1855882,SIDEWLKEXP,Snow Sidewalk Shoveling Enforcement Exemption,SNOW,DPW,1,2017-12-28 11:54:41.000,2018-01-04 16:04:00.000,2018-01-03 11:54:00.000,...,1428 MONTAGUE STREET NW,396971.210000,143464.820000,20011,255979.0,4,We are unable to complete verification until y...,POINT (-77.03494542 38.95908528),50.0,403.0
1231223,1231223,1855883,SIDEWLKEXP,Snow Sidewalk Shoveling Enforcement Exemption,SNOW,DPW,1,2017-12-28 16:49:42.000,2018-01-04 16:07:47.000,2018-01-03 16:49:00.000,...,52 BATES STREET NW,399055.860000,138041.040000,20001,236893.0,5,A requirement for the exemption program is tha...,POINT (-77.01088579 38.91023096),34.0,501.0
1231224,1231224,1855884,S0181,Illegal Dumping,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-29 10:44:21.000,2018-01-04 17:35:35.000,2018-01-08 10:44:00.000,...,10TH STREET NW AND SPRING ROAD NW,397641.750012,140859.647019,2001,905345.0,nan,This has been forwarded to Street and Alley Cl...,POINT (-77.0271999425712 38.9356188812846),40.0,409.0
1231225,1231225,1855885,SNOWREMCOMP,Snow Removal Complaints for Sidewalks,SNOW,DPW,1,2017-12-30 11:30:19.000,2018-01-04 17:49:09.000,2018-01-03 17:00:00.000,...,NaN,397431.259996,138916.490014,20009,901335.0,1,Area has been set up for cleaning. Per Inspect...,POINT (-77.0296204521954 38.9181140567276),31.0,305.0
1231226,1231226,1855886,SNOWREMCOMP,Snow Removal Complaints for Sidewalks,SNOW,DPW,1,2017-12-30 15:24:00.000,2018-01-04 17:43:50.000,2018-01-03 17:00:00.000,...,1451 BELMONT STREET NW,397059.870000,139197.550000,20009,234181.0,1,"no cause for action, area has been cleaned.",POINT (-77.03390419999999 38.92064477),35.0,304.0
1231227,1231227,1855887,S05SL,Streetlight Repair Investigation,Transportation Operations Administration,DDOT,1,2017-12-29 19:01:05.000,2018-01-04 22:03:07.000,2018-01-10 17:00:00.000,...,1227 STAPLES STREET NE,401333.360000,137177.330000,20002,70612.0,5,NaN,POINT (-76.98462824000001 38.90244985),25.0,506.0
1231228,1231228,1855888,S0031,Bulk Collection,SWMA- Solid Waste Management Admistration,DPW,1,2017-12-28 08:28:45.000,2018-01-05 15:58:12.000,2018-01-17 17:00:00.000,...,1343 SHERIDAN STREET NW,397301.530000,144269.170000,20011,257571.0,4,cph - Collected Close SR,POINT (-77.03113743999999 38.96633215),52.0,402.0
1231229,1231229,1855889,S05SL,Streetlight Repair Investigation,Transportation Operations Administration,DDOT,1,2017-12-31 06:12:03.000,2018-01-04 23:08:07.000,2018-01-10 17:00:00.000,...,626 15TH STREET NE,401396.940000,136727.740000,20002,3153.0,6,NaN,POINT (-76.98389616999999 38.89839969),16.0,108.0
1231230,1231230,1855890,S05SL,Streetlight Repair Investigation,Transportation Operations Administration,DDOT,1,2017-12-31 14:07:48.000,2018-01-05 00:53:06.000,2018-01-10 17:00:00.000,...,NaN,396658.480027,137055.302205,20006,907933.0,2,NaN,POINT (-77.0385224142281 38.901345242221),23.0,207.0
1231231,1231231,1855891,S05SL,Streetlight Repair Investigation,Transportation Operations Administration,DDOT,1,2017-12-31 16:50:49.000,2018-01-05 01:08:06.000,2018-01-10 17:00:00.000,...,NaN,397564.677692,137053.485021,20005,901949.0,2,NaN,POINT (-77.0280753898152 38.9013318500905),17.0,101.0
1231232,1231232,1855892,S05SL,Streetlight Repair Investigation,Transportation Operations Administration,DDOT,1,2017-12-31 16:46:51.000,2018-01-05 01:53:08.000,2018-01-10 17:00:00.000,...,615 12TH STREET NW,397592.010000,136681.500000,20005,279856.0,2,NaN,POINT (-77.02775899 38.89798095),17.0,101.0

In [22]:
csr_train.PSA.isnull().sum()

11

In [23]:
csr_train.columns

Index(['objectid', 'servicecode', 'servicecodedescription',
       'servicetypecodedescription', 'organizationacronym', 'servicecallcount',
       'adddate', 'resolutiondate', 'serviceduedate', 'serviceorderdate',
       'inspectionflag', 'inspectiondate', 'serviceorderstatus', 'status_code',
       'servicerequestid', 'priority', 'streetaddress', 'xcoord', 'ycoord',
       'zipcode', 'maraddressrepositoryid', 'ward', 'details', 'geometry',
       'index_right', 'PSA'],
      dtype='object')

In [26]:
csr_train.drop(['index_right', 'geometry', 
                'ward', 'maraddressrepositoryid', 
                'zipcode', 'ycoord', 'xcoord',
                'streetaddress', 'inspectiondate',
                'inspectionflag', 'organizationacronym'
               ], axis=1, inplace=True)

In [29]:
csr_train.set_index('objectid', inplace=True)